include requirements.txt
recursive-include promotional_engine *.css
recursive-include promotional_engine *.csv
recursive-include promotional_engine *.html
recursive-include promotional_engine *.ico
recursive-include promotional_engine *.js
recursive-include promotional_engine *.json
recursive-include promotional_engine *.md
recursive-include promotional_engine *.png
recursive-include promotional_engine *.py
recursive-include promotional_engine *.svg
recursive-include promotional_engine *.txt
recursive-exclude promotional_engine *.pyc
